body {
    padding: 60px 0 0;
    background-color: #eeeeee;
}

.btn-link:focus {
    outline: 0;
}

.login-page, .posts, .posts__navbar {
    width: 550px;
    margin: auto;
}

.posts__feed {
    margin-top: 10px;
}

.post {
    max-height: 55px;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: #fff;
}

.post--expanded {
    max-height: 300px;
    overflow: auto;
}

.post__post-form__input + .post__post-form__input, .post__post-form__form-btn {
    margin-top: 10px;
}

.post__post-form__input textarea {
    resize: none;
}

.post__post-form__form-btn__cancel-btn {
    margin-left: 10px;
}

.post--fade-out {
    opacity: 0.4;
    cursor: default;
}

.post--fade-out .post__read-more-link__btn,
.post--fade-out .post__delete__btn {
    cursor: default;
    text-decoration: none;
}

.post + .post {
    margin-top: 5px;
}

.post__content {
    display: inline-block;;
}

.post__author, .post__delete {
    display: inline-block;
}

.post__read-more-link .btn-link {
    padding: 0
}

.post__delete .btn {
    padding: 0 0 0 10px;
}
